@media (min-width: 1000px) {   //comportamiento pantalla grande

  .appGeneralSetting{
    height: 100vh;
    max-height: 100%;
    color: red;
    background-color: rgb(47, 47, 47);
  }
}

.myComponentsSettings{
  margin-top: 4%;
}

.appGeneralSetting{
  height: 100vh;
  max-height: 100%;
}
